<div id="foresigh-main-box-search" class="container-fluid p-0">
    
    <div class="overlay-slide">
        <img class="img" src="{{theme.link}}/static/images/img-hero.jpeg" width="1920" height="946" alt="Foresight">
        <div class="container-search">
            <h1>Foresight</h1>
            <div class="control-search">
            <form id="frm-search" action="/" method="GET">
                <input id="s" name="s" class="input-search" type="text" placeholder="Topic or Keyword" value="">
                <a class="btn-search" onclick="event.preventDefault();this.closest('form').submit();"> 
                 <img src="{{theme.link}}/static/images/search-icon.svg" width="48" height="48" alt="Search">
                </a>
            </form>
            </div>
        </div>
        <div class="container-curated-search">
            <h2>Curated Search</h2>
            <p>coming soon...</p>
        </div>
    </div>
</div>
