body {

  #section-members-logos {

    position: relative;

    .bgimg {
      position: absolute;
      right: 0;

      @include respond-below(md) {
        display: none;
      }
    }

    .title {
      font-size: 2.2rem;
      position: relative;
      z-index: 100;

      @include respond-below(md) {
        font-size: 1.3rem;
      }

      .bold {
        font-weight: 900;
      }

      .accent {
        color: $color_accent;
      }

      .dot {
        height: 10px;
        width: 10px;
        background: $color_accent;
        border-radius: 50%;
        display: inline-block;
        padding: 0;
      }
    }

    .logos {

      .label {
        font-size: 0.9rem;
        text-align: center;
        border-top: 1px solid $color_primary;
        @include respond-below(md) {
          font-size: 0.8rem;
        }
        @include respond-below(xl) {
          font-size: 0.6rem;
        }

        a {
          text-decoration: none;
          color: $color_primary;
        }
      }

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}
