@import "../variables-site/variables-site";

body {
  background-color: white;

  #page {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;

    #foresight-footer-section {
      width: 100%;

      form {
        background: none;
        margin: 0;
        padding: 0;
        border: none;
      }
    }
  }

  #login {
    width: 360px;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    margin-top: 7rem;
    margin-bottom: 6rem;

    form#loginform {
      padding: 0;
      border: none;

      .submit {
        margin-top: 2rem;

        .button {
          background-color: $color_accent;
          border-color: $color_accent;
          width: 100%;

          &:hover {
            background-color: #939113;
            border-color: #939113;
          }
        }
      }
    }

    .privacy-policy-page-link {
      margin: 3em 0 2em;
    }
  }

	#intro {
		display: flex;
		justify-items: center;
		align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 50%;

    @include respond-below( sm ) {
      display: none;
    }

    .content-right-login {
      position: relative;
      margin: auto;
      padding: 2rem 1rem;
      width: 80%;

      .background-color-login {
        position: absolute;
        background-color: white;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: .7;
        z-index: 10;
      }

      .content-info {
        position: relative;
        z-index: 20;

        h1 {
          margin-bottom: 1rem;
          font-size: 2.5rem;
          color: #212529;
          font-weight: bold;
        }

        h5 {
          color: #212529;
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }
	}
}
