body {
  font-family: $font__main;

  #foresight-top-menu-mobile {
    padding: 0;
    margin: 0;
    display: none;

    @include respond-below(md) {
      display: flex;
      background: $color_white;
      box-shadow: 0 1px 3px #737b7d;
      background: linear-gradient(180deg, rgba(255, 255, 255, 1) 70px, transparent 0%);
    }

    .navbar-brand {
      margin-left: 5vw;
    }

    .navbar-collapse {

      @include respond-below(md) {
        margin-left: 60%;
      }

      .navbar-nav {
        @include respond-below(md) {
          margin-right: 0;
        }
        padding: 0;
        font-family: $font__main;

        .nav-item {

          background: $color_primary;

          @include respond-below(md) {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 2px;
            padding-bottom: 2px;
          }

          .nav-link {
            color: $color_white;
            @include respond-below(md) {
              text-align: right;
            }
          }
        }

        .current-menu-item {
          background: $color_accent;

          .nav-link {
            color: $color_white;
          }
        }
      }
    }

    .dropdown-menu {
      background: $color_primary;
      padding: 0;
      border-radius: 0;

      .dropdown-item {
        color: $color_white;
        border-bottom: 1px solid $color_secondary;
        font-size: 14px;
      }

      .dropdown-item:hover {
        background: $color_accent;
      }
    }
  }

  #foresight-top-menu {
    padding: 0;
    margin: 0;
    box-shadow: 0 1px 3px $color_primary;
    background: linear-gradient(90deg, $color_white 70%, $color_secondary 30%);

    @include respond-below(md) {
      display: none;
    }

    .dropdown-toggle::after {
      display: none;
    }

    .navbar-brand {
      margin-left: 16vw;
    }

    .navbar-collapse {

      .navbar-nav {
        margin-right: 16vw;
        padding: 0;
        font-family: $font__main;

        .nav-item {
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 10px;
          padding-bottom: 10px;
          background: $color_primary;
          text-align: center;

          .nav-link {
            color: $color_white;
            font-weight: bold;
          }
        }

        .active-menu-item {
          background: $color_accent;

          .nav-link {
            color: $color_white;
          }
        }

        .active-menu-home {
          background: $color_fourth;

          .nav-link {
            color: $color_white;
          }
        }

        .secondary-menu-item {
          background: $color_secondary;
        }
      }
    }

    .dropdown-menu {
      background: $color_primary;
      padding: 0;
      border-radius: 0;

      .dropdown-item {
        color: $color_white;
        border-bottom: 1px solid $color_secondary;
        font-size: 14px;
      }

      .dropdown-item:hover {
        background: $color_accent;
      }
    }
  }

  .navbar-toggler {
    background: $color_accent;
    border: none;
    border-radius: 0px;
    height: 70px;
    text-align: center;
  }

  .navbar-toggler:active,
  .navbar-toggler:focus {
    outline: 0;
  }

  .navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin: 4px 0 4px 0;
    transition: all 0.2s;
  }

  .navbar-light .navbar-toggler .icon-bar {
    background: $color_white;
  }

  .navbar-toggler .icon-bar:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

  .navbar-toggler .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .navbar-toggler .icon-bar:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }

  .navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
    transform: rotate(0);
  }

  .navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
    transform: rotate(0);
  }
}