{% set content = frontPage %}
<div class="carousel-container container max-h-80 relative">
	<div class="cards-slick-slider grid grid-flow-col gap-4 w-full">
		{% for item in content.meta('slider_items') %}
		<div class="px-2">
			<a href="/search?{{ constant('ALGOLIA_INDEX') }}[query]=%22{{ item.term_cured.name }}%22">
				<div class="card-carousel flex flex-col max-w-[250px] border boder-gray3 mx-auto">
					<div class="card-image h-44 max-h-44">
						<img class="h-44 max-h-44 w-full object-fill object-center" src="{{ Image(item.term_image).src }}" width="150" height="150" alt="foresight-image" />
					</div>
					<div class="bg-white h-20 ">
						<p class="text-center text-black font-bold text-base mt-2.5">{{ item.term_cured.name }}</p>
					</div>
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
	<div class="hidden lg:block">
		<div class="cards-slick-prev absolute">
			<svg transform="scale(-1, 1)" transform-origin="center" width="34" height="30" viewBox="0 0 34 30" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M-3.68582e-05 14.7422C-3.67394e-05 13.3831 1.01693 12.2852 2.36023 12.2852L25.6366 12.2852L17.6375 4.19231C16.6888 3.23253 16.6888 1.67769 17.6375 0.717913C18.1156 0.238024 18.7379 -1.32825e-06 19.3602 -1.27384e-06C19.9826 -1.21944e-06 20.6034 0.239943 21.0769 0.719832L33.2198 13.005C34.1684 13.9648 34.1684 15.5196 33.2198 16.4794L21.0769 28.7645C20.1283 29.7243 18.5914 29.7243 17.6428 28.7645C16.6941 27.8048 16.6941 26.2499 17.6428 25.2901L25.6366 17.1992L2.36023 17.1992C1.01693 17.1992 -3.6977e-05 16.1012 -3.68582e-05 14.7422Z" fill="#111111"/>
			</svg>
		</div>
		<div class="cards-slick-next absolute">
			<svg width="34" height="30" viewBox="0 0 34 30" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M-3.68582e-05 14.7422C-3.67394e-05 13.3831 1.01693 12.2852 2.36023 12.2852L25.6366 12.2852L17.6375 4.19231C16.6888 3.23253 16.6888 1.67769 17.6375 0.717913C18.1156 0.238024 18.7379 -1.32825e-06 19.3602 -1.27384e-06C19.9826 -1.21944e-06 20.6034 0.239943 21.0769 0.719832L33.2198 13.005C34.1684 13.9648 34.1684 15.5196 33.2198 16.4794L21.0769 28.7645C20.1283 29.7243 18.5914 29.7243 17.6428 28.7645C16.6941 27.8048 16.6941 26.2499 17.6428 25.2901L25.6366 17.1992L2.36023 17.1992C1.01693 17.1992 -3.6977e-05 16.1012 -3.68582e-05 14.7422Z" fill="#111111"/>
			</svg>
		</div>
	</div>
</div>