<!-- begin hero block -->
<section class="h-screen relative">
	<img class="absolute top-0 left-0 h-full w-full object-cover object-center -z-1 brightness-50" src="{{ post.hero_image }}'">
	<div class="container mx-auto px-4 flex items-center justify-center lg:justify-start relative h-full">
		<h1 class="drop-shadow-lg font-montserrat font-extrabold text-yellow-primary break-words lg:text-left text-[40px] lg:text-[55px] text-center">{{ post.title }}</h1>
	</div>
	<div class="absolute bottom-0 left-0 w-full h-36 bg-black text-white">
		SUBMENU
	</div>
</section>
<!-- end hero block -->