<!-- begin hero block -->
<section class="h-screen flex flex-col pt-20 3xl:container 3xl:mx-auto">
	<div class="px-20 lg:px-44 flex flex-1 items-center justify-center lg:justify-start bg-center bg-cover bg-no-repeat bg-[url('https://devcgforesight.wpengine.com/wp-content/uploads/2023/08/hero-image.jpeg')] bg-black-100/70 bg-blend-multiply">
		<h1 class="font-montserrat font-extrabold text-yellow-primary px-1 break-words lg:text-left text-[40px] lg:text-[55px] text-center">Foresight Portal</h1>
	</div>
	<div class="bg-black text-white h-32 3xl:container 3xl:mx-auto hidden lg:flex">
		SUBMENU
	</div>
</section>
<!-- end hero block -->