  {% if post.meta( 'active_latest_posts' ) is not empty %}

    <div class="mt-16">
      {% if post.meta( 'search_lp' ) is not empty %}
      <div class="grid grid-cols-4 gap-4 mb-16">
        <div class="relative col-span-2 max-sm:col-span-4">
            <input type="search" id="search-posts" class="block w-full py-2 pl-4 pr-10 text-sm text-gray-900 border-[#D1D0D2] rounded" placeholder="Search" data-per-page="{{ perPage }}" >
            <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
        </div>
      </div>
    {% endif %}

    {% if post.meta( 'section_title_lp' ) is not empty %}
      <h3>{{ post.meta( 'section_title_lp' ) }}</h3>
    {% endif %}

    <div class="search-load flex flex-col items-center justify-center w-full h-34"  style="display: none;">
        <svg class="w-6 h-6 text-yellow-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
        <div class="px-6 py-4 text-2xl font-bold leading-none text-center text-yellow-800 animate-pulse dark:text-yellow-200">
          Loading...
        </div>
    </div>
    <div class="posts__col-cards">

      {% include "./view/macros/cards-blog.twig" %}
    </div>
  </div>
  {% endif %}