<div class="theme-header-scroll"></div>
<section class="error-404 not-found">
	<div class="container">
		<div class="row">
			<div class="col-md-12 align-self-center">
				<h1 class="title-404">404</h1>
				<h2>Oops! That page can’t be found.</h2>
				<p>The page you are looking for does not exist.
					How you got here is a mystery. But you can click the button below
					to go back to the homepage.
				</p>
				<a class="btn-404 red" href="{{ function('get_home_url') }}">HOME</a>
			</div>
		</div>
	</div>
</section>
