<footer id="foresight-footer-section" class="site-footer">
	<div id="foresight-footer-container" class="container">
		<div class="row site-info">
			<div id="footer-logo" class="col-md-8">
				<img src="{{ function('customize_theme_mod', 'theme_nav_logo' ) }}" alt="Logo" width="167">
			</div>
			<div class="col-md-4 footer-content-social">
				<p>Follow us</p>
				{{ function('foresight_social_icons') }}
			</div>
		</div>  <!-- .site-info -->
		<div class="row footer-content-copyright">
			<p>Cafeto® 2020 All Rights Reserved</p>
			<span class="sep"> | </span>
			<a href="#">
				Privacy Policy
			</a>
			<span class="sep"> | </span>
			<a href="#">
				Terms of Use
			</a>
		</div>
	</div>
</footer><!-- #colophon -->
