<main id="foresight-main">
    {% include "./view/front-page/main-box-search.twig" %}
    {% include "./view/front-page/main-post-grid.twig" %}
    {% include "./view/front-page/section-members-logos.twig" %}
</main>