body {

  .error-404 {
    margin-top: 4rem;
    margin-bottom: 4rem;

    h1.title-404 {
      font-size: 7.5em;
      margin: 15px 0px;
      font-weight:bold;
    }

    h2 {
      font-weight:bold;
    }
  }
}
