body{

    #foresigh-main-box-search{

        .overlay-slide {
            position: relative;
            box-sizing: border-box;
            overflow: hidden;
            float: left;
            margin: 0px;

            .img{
                object-fit: cover;
                object-position: 25% 0;
                width: 100vw;
                height: 95vh;
            }
        }
        
        .overlay-slide {
            .container-search {
                position: absolute;
                box-sizing: border-box;
                margin-left: 16vw;
                bottom: 42vh;
                padding: 0px;

                @include respond-below( md ) {
                    margin-left: 0;
                    padding-right: 5vw;
                    padding-left: 5vw;
                    width: 100%;
                    text-align: center;
                }
    
                h1 {
                    font-family: $font__secondary;
                    margin: 0;
                    font-size: 7.5rem;
                    color: $color_white;
                    @include respond-below( md ) {
                        font-size:calc(18px + 10vw);
                    }
                }

                form{
                 display: flex;
                 justify-items:start;   
                }
                
                .control-search{
                    background: $color_white;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-left: 15px;
                    padding-right: 1px;
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;
                    width: 540px;
                    @include respond-below( md ) {
                        width: 100%;
                    }

                    input[type=text]{
                        border: none;
                        font-family: $font__main;
                        font-size: 1.1rem;
                        width: 100%;
                    }
                    input[type=text]:focus{
                        outline: none;
                    }
                    input::placeholder {
                        color: $color_placeholder;
                        font-size: 1.1rem;
                    }
                }
            }

            .container-curated-search {
                position: absolute;
                box-sizing: border-box;
                bottom: 0px;
                width: 100%;
                height: 150px;
    
                 h2 {
                    margin: 0;
                    font-size: 18px;
                    color: #eeeeee;
                }
                
                p {
                    font-size: 14px;
                    color: #dddddd;
                }

                .col-right{
                    display: none;
                    background: 
                        linear-gradient(0deg, rgba($color_black,0.8) 15%, rgba(255,255,255,0) 15%),
                        linear-gradient(-300deg, rgba($color_black,0.8) 20%, rgba($color_black,0) 20%);
                    @include respond-below( md ) {
                        display: flex;
                    }
                };
                .col-center{
                    background: rgba($color_black,0.8);
                    color: $color_white;
                    height: 30px;
                    text-align: left;
                    padding-top: 3px;
                    @include respond-below( md ) {
                        text-align: center;
                    }

                    .dot {
                        height: 7px;
                        width: 7px;
                        background: $color_accent;
                        border-radius: 50%;
                        display: inline-block;
                        @include respond-below( md ) {
                            display: none;
                        }
                      }
                };
                .col-left{
                    width: 100vw;
                    background: 
                        linear-gradient(0deg, rgba($color_black,0.8) 15%, rgba(255,255,255,0) 15%),
                        linear-gradient(300deg, rgba($color_black,0.8) 3%, rgba(255,255,255,0) 3%);
                    @include respond-below( md ) {
                        background: 
                        linear-gradient(0deg, rgba($color_black,0.8) 15%, rgba(255,255,255,0) 15%),
                        linear-gradient(300deg, rgba($color_black,0.8) 20%, rgba(255,255,255,0) 20%);
                    }
                }

                .slider{
                    background:rgba($color_black, 0.8);
                    width: 100vw;
                    height: 100%;
                }
            }
        }
        
    }

    #foresight-popular-search{
        button{
            color: $color_white;
            font-size: 18px;
            font-weight: bold;
            padding: 0;
            margin-top: 5px;
        }
        div.dropdown-multicol{
            width: 60vw;
            max-width: 900px;
            @include respond-below( md ) {
                width: 24vw;
            }
        }
        div.dropdown-row>a.dropdown-item{
            display:inline-block;
            width: 9vw;
            padding-left: 8px;
            color: $color_white;
            @include respond-below( md ) {
                width: 24vw;
            }
        }

        div.dropdown-row>a.dropdown-item:hover{
            background: rgba($color_primary,0.5);
        }

        .dropdown-menu{
            height:180px;
            overflow-y:auto;
            background: rgba($color_black,0.6);
         }
    }
}

