<section class="my-16">
  <div class="container mx-auto relative px-4">
      <div class="grid grid-cols-3 gap-4 px-4">
				<div class="col-span-1 max-sm:col-span-3 max-sm:flex max-sm:flex-col-reverse">
					<h4 class="text-3xl text-dark font-bold mb-11 max-sm:mt-8 max-sm:mb-4">Models and Tools</h4>
					<image class="h-64 max-sm:max-h-64 max-sm:h-auto max-sm:max-w-xs max-sm:w-full max-sm:mx-auto" src="https://static.vecteezy.com/system/resources/previews/014/433/063/original/calendar-agenda-for-appointment-and-meeting-planning-people-characters-planning-schedule-flat-character-illustration-png.png" />
				</div>
				<div class="col-span-2 max-sm:col-span-3 flex flex-col gap-y-4 justify-between">
					<div>
						<p class="text-base">
							Our Foresight Portal offers a comprehensive collection of state-of-the-art models and tools designed to enhance decision-making and drive positive change in food, land, and water systems. 
						</p>
						<p class="text-base mt-4">
							Our diverse range of foresight models and tools empowers governments, researchers, and policymakers, particularly in developing countries, with valuable insights into alternative transformation pathways.
							By exploring these models and leveraging the tools at your disposal, you can navigate complex challenges and identify strategies that minimize trade-offs while advancing progress towards our collective goals.
						</p>
						<div id="see-more-1" class="subpage-exp-content mt-4" style="display: none;">
							<!-- The Content Starts -->
							This expandable/collapsible content is only seen when the Read More button is clicked.
							This expandable/collapsible content is only seen when the Read More button is clicked.
							This expandable/collapsible content is only seen when the Read More button is clicked.
							This expandable/collapsible content is only seen when the Read More button is clicked.
							<!-- The Content ends -->
						</div>
					</div>
					<div class="flex flex-wrap items-center self-end">
						<button class="see-more-btn bg-transparent" data-id="see-more-1">
							Read More 
						</button>
						<span>
							<svg class="ml-1" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M1.58925 0.744078C1.26381 0.418641 0.736171 0.418641 0.410734 0.744078C0.0852973 1.06951 0.0852973 1.59715 0.410734 1.92259L5.41073 6.92259C5.73617 7.24803 6.26381 7.24803 6.58925 6.92259L11.5892 1.92259C11.9147 1.59715 11.9147 1.06951 11.5892 0.744078C11.2638 0.418641 10.7362 0.418641 10.4107 0.744078L5.99999 5.15482L1.58925 0.744078Z" fill="#3F1364"/>
							</svg>
						</span>
					</div>
				</div>
			</div>
  </div>
</section>