<section class="pb-16 pt-36 bg-purple">
  <div class="container mx-auto relative px-4">
    <h3 class="text-4xl font-bold text-white mb-16 max-md:text-center">Featured Stories</h3>
    <div>
      {% include "./view/macros/carousel-full-posts.twig" %}
    </div>
    <div class="text-right mt-10 max-md:mt-24 max-md:text-center">
      <a class="btn-primary-large">
        VIEW ALL RESOURCES
      </a>
    </div>
  </div>
</section>