<section class="pb-12 pt-12 bg-white">
  <div class="container relative">
    <h3 class="px-8 text-4xl font-bold mb-16 max-md:text-center">Curated searches</h3>
    <div>
      {% include "./view/macros/carousel-curated-searches.twig" %}
    </div>
  </div>
</section>