body {

    #container-what-is-foresight {

        .what-is-foresight {
            position: relative;
            height: 100vh;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 62% 0%;
            }

            .foo-head {
                position: absolute;
                bottom: 30%;
                width: 100%;
                @include respond-below( md ) {
                    bottom: 5%;
                }

                .container {
                    height: 100%;
                    width: 100%;

                    .circle {
                        display: flex;
                        flex: 1;
                        flex-direction: column;
                        justify-content:center;
                        align-items:center;
                        background:rgba($color_accent, 0.2);
                        
                        width: 25vw;
                        height: 25vw;
                        max-width: 25rem;
                        max-height: 25rem;
                        min-width: 16rem;
                        min-height: 16rem;
                        border-radius: 50%;
                        color: $color_white;
                        letter-spacing: 1px;

                        @include respond-below( md ) {
                            background: none;
                        }

                        .label a{
                            display: flex;
                            text-decoration: none;
                            color: $color_white;

                            @include respond-below( lg ) {
                                flex-direction: column;
                            }

                            .text-big {
                                font-size: 2.5rem;
                            }
                            
                            .text-small {
                                font-size: 1.2rem;
                                padding-right: 0.4rem;
                            }
                        }                        
                    }

                }
            }

            .foo {
                position: absolute;
                bottom: 0;
                width: 100%;

                .container {
                    background:$color_white; 
                    height: 4rem;
                }
            }
        }

        .this-is-foresight{
            background-image: radial-gradient(circle at 10px 10px, rgb(245,245,245) 5px, white 0);
            background-size: 23px 23px;
            
            .content-about {
    
                .container {
                    font-size: 1rem;
                    background: $color_white;
                    padding: 0px 40px;


                    @include respond-below( md ) {
                        font-size: 0.8rem;
                        padding: 20px;
                    }

                }

                .featured-image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .featured-content{
                position: relative;
                width: 100%;

                img {
                    width: 100%;
                    height: 335px;
                    object-fit:cover;
                }
                

                .foo-bottom{
                    position: absolute;
                    top: 0;
                    width: 100%;

                    .container{
                        background: $color_white;
                        height: 4rem;
                    }
                }

                .label {
                    position: absolute;
                    width: 100%;
                    top: 6rem;
                    font-size: 1.2rem;

                    .container{
                        text-align: center;
                        padding: 2rem 6rem;
                        @include respond-below( sm ) {
                            padding: 1rem 1rem;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }


        .offer-foresight{

            .container {
                font-size: 1rem;
                padding: 0px 40px;
            }

            .container-bottom {
                position: relative;
                @include respond-below( md ) {
                    height: 600px;
                }

                .bg-image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .items-grid {
                    position: absolute;
                    top: 5rem;
                    width: 100%;

                    .container {
                        .logo {
                            padding: 0.45rem;
                            text-align: center;
                        }

                        .title {
                            font-size: 1rem;
                            padding: 0.45rem;
                            @include respond-below( sm ) {
                                font-size: 0.9rem;
                            }
                        }
                    }
                }
                
            }
        }

        
        .title {
            font-size: 2.2rem;
            @include respond-below( md ) {
                font-size: 1.3rem;
            }
    
            .bold {
                font-weight: bold;
            }
            .accent {
                color: $color_accent;
            }
            .dot {
                height: 10px;
                width: 10px;
                background: $color_accent;
                border-radius: 50%;
                display: inline-block;
                padding: 0;
              }
        }

        h1{
            font-size: 1.6rem;
            font-weight: bold;
        }
    }

}