<main id="foresight-main" class="mt-24">
    {% include "./view/front-page/section-carousel-posts.twig" %}
    {# {% include "./view/front-page/main-post-grid.twig" %}
    {% include "./view/front-page/section-members-logos.twig" %}
    {% include "./view/front-page/section-contact-us.twig" %} #}
</main>