<header id="foresight-header">
	{% include "./view/navigation/top-menu.twig" %}
</header>
<section class="bg-black-100/70 mt-16 max-h-[565px] w-full">
{% include "./view/macros/hero-block.twig" %}
</section>
{% include "./view/navigation/secondary-menu.twig" %}