body {
  header.site-header {
    nav {
      transition: all 200ms;
      background-color: #DC0037;
      box-shadow: 0 5px 16px -12px #4d4d4d;

      @include respond-below( md ) {
        background-color: #ffffff;
      }

      .navbar-toggler {
        border: 0;
        outline: none;

        .navbar-toggler-icon {
          background-image: url(static/images/toggler-icon.png);
          width: 50px;
          height: 50px;
        }
      }

      .navbar-collapse {

        .navbar-nav {
          margin-left: auto;

          li.current-menu-item, li.nav-item {
            a {
              position: relative;
              color: #ffffff;
              font-size: 1.2rem;
              padding: .5rem 1rem;

              @include respond-below( md ) {
                color: #DC0037;
                padding-left: 0;
              }

              &:hover {
                color: #ac0126;
              }
            }
          }

          li.current-menu-item {
            font-weight: bold;
          }

          li.section-home-url {
            a:before {
              content: '';
              position: absolute;
              top: 35%;
              left: 0px;
              width: 10px;
              border-radius: 50px;
              height: 10px;
              background-color: #ffffff;

              @include respond-below( md ) {
                top: 40%;
                left: -15px;
                background-color: #DC0037;
              }
            }
          }

          li.login-bottom {
            outline: none;

            .theme-menu-button {
              color: #DC0037;
              border-color: #ffffff;
              background-color: #ffffff;
              border-radius: 5px;
              padding: .5rem 1rem;
              font-weight: bold;
              outline: none;

              @include respond-below( md ) {
                color: #ffffff;
                border-color: #DC0037;
                background-color: #DC0037;
              }

              &:hover {
                color: #ffffff;
                border-color: #ac0126;
                background-color: #ac0126;
              }

              &:focus {
                outline: none;
                box-shadow: none;
              }
            }
          }
        }
      }
    }

    nav.page-default {

      .navbar-collapse {
        .navbar-nav {

          li.current-menu-item {
            font-weight: normal;
          }

          li.nav-item {
            a {
              color: #DC0037;

              &:hover {
                color: #ac0126;
              }

              &:before {
                background-color: #DC0037;
              }
            }
          }

          li.login-bottom {
            .theme-menu-button {
              color: #ffffff;
              border-color: #DC0037;
              background-color: #DC0037;

              &:hover {
                color: #ffffff;
                border-color: #ac0126;
                background-color: #ac0126;
              }
            }
          }
        }
      }
    }

    nav.scrolled {
      background-color: #ffffff;
      box-shadow: 0 5px 16px -12px #4d4d4d;

      .navbar-collapse {
        .navbar-nav {

          li.nav-item {
            a {
              color: #DC0037;

              &:hover {
                color: #ac0126;
              }

              &:before {
                background-color: #DC0037;
              }
            }
          }

          li.login-bottom {
            .theme-menu-button {
              color: #ffffff;
              border-color: #DC0037;
              background-color: #DC0037;

              &:hover {
                color: #ffffff;
                border-color: #ac0126;
                background-color: #ac0126;
              }
            }
          }
        }
      }
    }
  }
}
